#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
  display: "flex";
  width: "100%";
}

.input-div {
  width: 30%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  padding: 22em 0em 5em 0em;
  flex: 1;
}

.input-label {
  font-size: 1.7em;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  padding: 8px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.input-password-div {
  width: 75%;
  height: 3em;
  font-size: 1.5em;
  padding-bottom: 1em;
  margin: 0 auto;
  text-align: center;
}

.input-message-div {
  width: 75%;
  height: 3em;
  font-size: 1.5em;
  padding-bottom: 1.5em;
  margin: 0 auto;
  text-align: center;
}

.text-box {
  width: 100%;
  height: 2em;
  font-size: 1em;
  text-align: center;
}

.chatroom-div {
  width: 30%;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  padding: 4em 0 0 0;
  text-align: "center";
  flex: 1;
}
.chatroom-h1 {
  width: 30%;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  padding: 8px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.messages-div {
  position: center;
  overflow-y: auto;
  max-height: 75%;
  min-height: 75%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.messages-ul {
  display: flex;
  flex-direction: column;
  align-items: center; 
  list-style-type: none;
  padding-left: 0;
  text-align: center;
}

.message-individual {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 1.25em;
  background-color: rgba(60, 60, 60, 0.9);
  color: white;
  padding: 8px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  margin: 0.5em 0 0.5em 0;
}
